accelerate==1.11.0
datasets==4.0.0
matplotlib==3.11.0
modelscope==1.38.1
numpy==2.4.4
pandas==2.3.3
peft==0.18.1
pyarrow==18.1.0
scipy==1.18.0
sentencepiece==0.2.1
tensorboard==2.21.0
tiktoken==0.13.0
tokenizers==0.22.2
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
transformers==4.56.2
trl==0.24.0
